{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
<br><br><br>
{% comment %} <img src="{% static 'images/log.jpg' %}"  > {% endcomment %}

<center>
    {% comment %} <div class="card text-bg-dark">
        <img src="{% static 'images/log.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay im">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div> {% endcomment %}
    <h2>You've logged out successfully!</h2>
    <a href="/" class="btn btn-primary">Continue shopping</a>
</center>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

{% endblock content %}
